*{
    margin: 0;
    padding: 0;
}

.flex-container-body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-container-column{
    flex: 10 0 0;
    display: flex;
    flex-direction: column;
}

.flex-container-row{
    flex: 10 0 0;
    display: flex;
    flex-direction: row;
}

h1{
    background-color: white;
}

.div1, .div2, .div3, .div4, .div5, .div6{
    border: black solid 2px;
    display: flex;
    word-break: break-word;
}

ul, ol{
    padding-left: 25px;
}

.div1{
    flex-direction: column;
    padding: 5px;
    flex: 2.5 0 0;
    font-size: 26px;
    background-color: bisque;
    overflow: auto;
}
.div2{
    flex: 2.5 0 0;
    padding-right: 20px;
    justify-content: right;
    align-items: center;
    background-color: lightsteelblue;
}
.div3{
    font-size: 45px;
    justify-content: center;
    flex: 1.25 0 0;
    background-color: darkseagreen;
}

.espada-img{
    margin:auto;
    width: 15vw;
    height: auto;
}

.starrk-img{
    margin:auto;
    width: 15vw;
    height: auto;
}

.barragan-img{
    margin:auto;
    width: 21vw;
    height: auto;
}

.harribel-img{
    margin:auto;
    width: 19vw;
    height: auto;
}

.ulquiorra-img{
    width: 17vw;
    height: auto;
}
.div4{
    flex-direction: column;
    padding: 5px;
    flex: 4 0 0;
    font-size: 20px;
    background-color: darkseagreen;
}

.espada{
    aspect-ratio: 2/1;
    height:85%;
    width:100%;
}

.div5{
    flex-direction: column;
    flex: 8 0 0;
}
.div6{
    flex: 2 0 0;
    padding-left: 20px;
    justify-content: left;
    align-items: center;
    background-color: lightsteelblue;
}

@media (max-width: 768px) {
    .flex-container-row {
        flex-direction: column;
    }

    .div1 {
        font-size: 20px;
    }

    .div2 {
        font-size: 18px;
    }

    .div3 {
        font-size: 35px;
    }

    .div4 {
        font-size: 18px;
    }

    .espada-img {
        width: 30vw;
    }

    .div6 h1 {
        font-size: 18px;
    }

}

@media (max-width: 480px) {
    .div1 {
        font-size: 16px;
    }

    .div3 {
        font-size: 30px;
    }

    .espada-img {
        width: 50vw;
    }

    .div6 h1 {
        font-size: 16px;
    }
}